.idea/

node_modules/
vendor/

.php_cs.cache
composer.phar
composer.lock
yarn.lock

tests/_output/
tests/_support/_generated/

tests/functional/Fixtures/app/cache/
tests/functional/Fixtures/app/config/webpack.default.config.js
tests/functional/Fixtures/app/config/webpack.symfony.config.js
tests/functional/Fixtures/app/logs/
tests/functional/Fixtures/web/
tests/functional/Fixtures/package.json
