<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	{% webpack css '@testWebpack/indexed/css0.css' %}
		<link rel="stylesheet" href="{{ asset_url }}"/>
	{% end_webpack %}

	{% webpack css
		'@TestWebpackBundle/Resources/assets/indexed/css1.css'
		'@testWebpack/indexed/css2.css'
	%}
		<link rel="stylesheet" href="{{ asset_url }}"/>
	{% end_webpack %}

</head>
<body>

	{% webpack
		'@testWebpack/cat.png'
		'@testWebpack/cat.png'
	%}
		<img src="{{ asset_url }}"/>
	{% end_webpack %}

	{% webpack
		'@testWebpack/indexed/js0.js'
		'@testWebpack/indexed/js1.js'
	%}
		<script src="{{ asset_url }}"></script>
	{% end_webpack %}

</body>
</html>
